#header-site-info {
	margin-left: 20px;
}

#search {
	margin-left: 560px;
}

#header-group-inner {
	height: 91px;
}

.front .content-bottom-inner {
	padding-bottom: 20px;
}

#lower-footer-wrapper #block-block-1 {
	padding-bottom: 10px;
}